tags
*.o
*.a
*.so
*.out
COPYING
INSTALL
*Makefile
*Makefile.in
*aclocal.m4
*autom4te.cache/
*config*
*deps*
src/mqtt_rrdtool
src/reading_mqtt
src/pid_mqtt
src/tty_mqtt
src/reading/reading_json_.c
src/reading/reading_rrdtool.c_bu
src/reading_rrdtool.c
src/rrd/
*uMQTT*
*stamp-h1
*tmp*
*.dirstamp
